h1 {
    text-align: center;
}

#square {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    text-align: center;
    font-size: 10rem;
}

#gameboard {
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 /* force dimension of flexbox 200+border *3 */
 width: 620px; 
  /*center automatically  */
 margin: 0 auto; 
}